
*{
  margin: 0;
  background-color: #FAFAF0;

}

a{
  color: black;
}
button{
  border-radius: 20px;
  cursor: pointer;

}
.album-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.add-button{
  margin-bottom: 10px;
  font-size: 1.2em;
}
.update-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.album-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.album-info-options{
  display: flex;
}
.album-new-rating{
  display: flex;
  justify-content: center;

}
.album-textarea{
  height: 35vh;
  width: 35vw;
  font-size: 1.3em;
  resize: none;
  padding: 10px;
  border-radius: 10px;
}

.album-info-container{
  display: flex;
  justify-content: center;
  width: 50em;

}
.album-info{
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  margin-left: 2vw;
}

.album-img{
  max-width: 125px;
  max-height: 125px;
  border-radius: 5px;
}
.album-title{
  border-bottom: 2px solid black;
}
.album-rating{
  font-size: 2em;
}
.album-date-added{
  white-space: nowrap;
}

.add-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add-form-search{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-form-search-input-button{
  display: flex;
  flex-direction: row;
}
.add-form-add{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-form-add-textarea{
  width: 50vw;
  height: 30vh;
  font-size: 1.3em;
  resize: none;
  padding: 10px;
  border-radius: 10px;
}
.search-albums{
  border: 2px solid #CCCCCC;
  width: 50vw;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
}
.search-album{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 2px;
  cursor: pointer;
  border-radius: 5px;
}
.search-album-img{
  display: flex;
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
}

.search-album-name{
  display: flex;
  font-size: 0.8em;

}

.search-bar{
  width: 30vw;
  height: 3vh;
  padding-left: 15px;
  border-radius: 50px ;
  font-size: 15px;
  margin-bottom: 5px;
  min-width: 200px
}
.search-button{
  width: 5vw;
  border-radius: 20px;
  min-width: 100px;
  margin-bottom: 5px;

}

.update-button{
  margin-bottom: 10px;
}
.update-album-img{
  border-radius: 10px;
}
.album-page-search{
  width: 50vw;
  border-radius: 20px;
  min-width: 100px;
  margin-bottom: 5px;
  height: 4vh;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}
.album-options{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.album-options:after{
  content: "\22EF";
  font-size: 20px;
  
}